@import "abstract/mixins";
@import "abstract/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/back-to-top-btn";
@import "components/scrolldown-btn";

@import "layout/header";
@import "layout/navigation";
@import "layout/footer";

@import "pages/contacts";
@import "pages/gallery";
@import "pages/our-services";
@import "pages/price-list";
@import "pages/references";


/*------------------------ icons ----------------------- */

.icon-big{
  font-size: 7rem;
  display: block;
  color: $primary-color;
  margin-bottom: 1rem;
  text-align: center;
}

.icon-small {
  font-size: 2.6rem;
  margin-right: 1rem;
  color: $primary-color;
}


.service--icon {
  display: block;
  margin: auto;
  padding: 1.5rem 0 2.5rem 0;
  height: 8rem;
}

.icon-contacts {
  font-size: 2.6rem;
  color: $primary-color;
  padding-right: 3.5rem;
}














