//------------------------ footer -----------------------

.footer {
  background-color: $color-bg-footer;
}

.footer__divider {
  height: 1px;
  background-color: rgba($color-offwhite, 0.06);
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  padding: 3.2rem 12rem;
}

.footer-nav__list {
  display: flex;
  gap: 3.6rem;
  list-style: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

.footer-nav__social-list {
  display: flex;
  gap: 1.6rem;
  list-style: none;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.footer-nav__item {
  display: block;
}

.footer-nav__link:link,
.footer-nav__link:visited {
  text-decoration: none;
  border: 0;
  color: rgba($color-offwhite, 0.67);
  transition: color .2s;
}

.footer-nav__link:hover,
.footer-nav__link:active {
  text-decoration: none;
  border: 0;
  color: $color-gold;
}

.ion-social-facebook,
.ion-social-instagram {
  transition: color .2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-instagram:hover {
  color: #e95950;
}

.footer__copyright {
  text-align: center;
  padding: 2rem 12rem;
}

.footer__copy {
  color: rgba($color-offwhite, 0.25);
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  margin: 0;

  &--link:link,
  &--link:visited {
    text-decoration: none;
    padding-bottom: .2rem;
    border-bottom: .1rem dotted rgba($color-offwhite, 0.2);
    color: rgba($color-offwhite, 0.25);
    transition: color .2s;
  }

  &--link:hover,
  &--link:active {
    color: $color-gold;
  }
}

// ---- Responsive footer ----
@media (max-width: 767px) {
  .footer__content {
    flex-direction: column;
    padding: 3.2rem 4rem;
    gap: 3.2rem;
  }

  .footer-nav__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__copyright {
    padding: 2rem 4rem;
  }
}

@media (max-width: 480px) {
  .footer__content {
    padding: 2.4rem;
  }

  .footer__copyright {
    padding: 2rem 2.4rem;
  }
}
