//------------------------ footer -----------------------

.footer {
  background-color: $shadow-color;
  padding: 3rem 0 4rem 0;

  &-nav__list {
    list-style: none;
    float: left;
    font-size: 1.6rem;
    padding: .8rem 0;
  }

  &-nav__social-list {
    list-style: none;
    float: right;
    font-size: 2.8rem;
  }

  &-nav__item {
    display: inline-block;
    margin-right: 2rem;
  }
}

.footer-nav li:last-child,
.footer-nav__social-list li:last-child {
  margin-right: 0;
}

.footer-nav__link:link,
.footer-nav__link:visited {
  text-decoration: none;
  border: 0;
  color: #a0a0a0;
  transition: color .2s;
}

.footer-nav__link:hover, .footer-nav__link:active {
  text-decoration: none;
  border: 0;
  color: rgb(192, 192, 192);
}

.ion-social-facebook, .ion-social-instagram {
  transition: color .2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-instagram:hover {
  color: #e95950;
}

.footer__copy {
  color: #a0a0a0;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;

  &--link:link,
  &--link:visited {
    text-decoration: none;
    padding-bottom: .2rem;
    border-bottom: .1rem dotted rgb(37, 37, 37);
    color: rgb(37, 37, 37);
    transition: color .2s;
  }

  &--link:hover,
  &--link:active {
    color: $light-gray;
  }
}


