.header {
  background-image: url(img/home-betonove-sterky-2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  // background-position: center;
  height: 85vh;
  transition: background-image .5s;

  &__heading {
    padding: 1.5rem 4rem;
    background-color: rgba($tertiary-color, .9);
    display: inline-block;
    margin: 0;
  }

  &__text {
    display: inline-block;
    background-color: rgba($secondary-color, .9);
    padding: 2rem 6rem 2rem 3rem;
    line-height: 1.3;
    word-spacing: .2rem;
    font-size: 2.5rem;
    color: $color-white;
    letter-spacing: 0.1rem;
    font-weight: 100;
  }

  &__hero-box {
    @include absolute(top 55% left 45%);

    width: auto;
    transform: translate(-50%, -50%);
  }

  &__link:link, &__link:visited {
    color: $tertiary-color;
  }

  &__link:hover, &__link:active {
    // color: $quinary-color;
    border-bottom: .1rem solid $tertiary-color;
  }
}

/*------------------------ arrows ----------------------- */

// .header__arrows {
//   &--left, &--right {
//     height: 85vh;
//     display: inline-flex;
//     align-items: center;
//   }

//   &--left {
//     margin-left: 2rem;
//   }

//   &--right {
//     margin-right: 2rem;
//     float: right;
//   }

//   &__link:hover {
//     border: 0;
//   }

//   &__icon {
//     color: $color-white;
//     font-size: 7rem;
//   }
// }

.header__arrows a {
	position: absolute;
	top: 45%;
	display: block;
	outline: none;
	text-align: left;
	z-index: 5;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.header__arrows .header__arrows--prev {
	left: 0;
}

.header__arrows .header__arrows--next {
	right: 0;
}

.header__arrows a svg {
	display: block;
	margin: 0 auto;
	padding: 0;
}

//a-------------------------------------------

// .header__arrows { background-color: #c1b8ab; }

.header__arrows a {
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.header__arrows--prev {
	-webkit-perspective-origin: 100% 50%;
	perspective-origin: 100% 50%;
}

.header__arrows--next {
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.header__icon-wrap {
	display: block;
	width: 100px;
	height: 100px;
	background-color: $primary-color;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
}

.header__icon {
	position: relative;
	top: 50%;
	-webkit-transition: fill .3s;
	transition: fill .3s;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	fill: #fff;
}

.header__arrows img {
	position: absolute;
	top: 0;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform .3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.header__arrows .header__arrows--prev img {
	left: 100%;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

.header__arrows .header__arrows--next img {
	right: 100%;
	-webkit-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.header__arrows a:hover .header__icon-wrap {
	background-color: $color-white;
}

.header__arrows a:hover .header__icon {
	fill: $primary-color;
}

.header__arrows a:hover img {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.svg-wrap {
  display: none;
}
