//------------------------ Main Navigation -----------------------

.nav {
  @include fixed(top 0 left 0);

  background-color: $color-white;
  box-shadow: 0 .2rem .2rem rgba($shadow-color, .5);
  width: 100%;
  z-index: 100;

  &__list {
    display: block;
    float: right;
    margin: 0;
  }

  //Create a horizontal list with spacing
  &__item {
    display: inline-block;
    position: relative;


    // underline hover effect for top link menu
    &::after {
      cursor: pointer;
      position: absolute;
      content: '';
      bottom: 0;
      width: 0;
      height: .4rem;
      z-index: -1;
      transition: all .3s ease-in-out;
      opacity: 0;
    }

    &:hover {
      &::after {
        left: 0;
        background-color: $primary-color;
        width: 100%;
        opacity: 1;
      }
    }
  }

  //Style for menu links
  &__link {
    display: block;
    font-size: 1.7rem;
    text-align: justify;
    line-height: 7rem;
    padding: 0 2rem 0 1rem ;
    text-transform: uppercase;

    &:link {
      border: 0;
    }
  }
}

.mobile-nav-icon {
  display: none;
  float: right;
  margin-top: 1.8rem;
  margin-right: 2.5rem;
  cursor: pointer;
}

.mobile-nav-icon:hover {
  border: none;
}

.mobile-nav-icon i {
  font-size: 3rem;
  color: $primary-color;
}


//------------------------ logo -----------------------
.logo {
  display: inline-block;
  height: 100%;

  &__link:hover {
    border: 0;
  }

  &__img {
    margin-top: .6rem;
    width: auto;
    height: 6rem;
  }

  &__text {
    height: 2rem;
    margin-left: .5rem;
    margin-bottom: 1.7rem;
  }
}

.dropdown-icon__frame {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: .3rem;
  border: .1rem solid $color-white;
  margin-right: 1rem;
  opacity: .7;
}

.dropdown-icon {
  height: 100%;
  // height: 1.7rem;
  padding: .3rem;
  fill: $color-white;
}
