//------------------------ Main Navigation -----------------------

.nav {
  @include fixed(top 0 left 0);

  background-color: $color-white;
  box-shadow: 0 .2rem .2rem rgba($shadow-color, .5);
  width: 100%;
  z-index: 100;

  &__list {
    float: right;
    margin: 0;

    //Strip the ul of padding and list styling
    &--hidden {
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
    }

    //Make dropdown links vertical
    &--hidden .nav__item {
      display: block;
      float: none;
    }
  }


  //Create a horizontal list with spacing
  &__item {
    display: inline-block;
    float: left;

    //Style for dropdown links
    &:hover .nav__list--hidden .nav__link {
      background: $color-white;
      color: $primary-color;
      height: 4rem;
      line-height: 4rem;
    }

    //hover style for dropdown links
    &:hover .nav__list--hidden .nav__link:hover {
      background: $primary-color;
      color: $color-white;
    }

  }

  //Style for menu links
  &__link {
    display: block;
    font-size: 1.7rem;
    text-align: center;
    line-height: 7rem;
    padding: 0 2.5rem;
    transition: background-color, color .2s;

    &:link {
      border: 0;
    }

    //hover state for top level links
    &:hover {
      background-color: $primary-color;
      color: $color-white;
    }
  }
}

//Display the dropdown on hover
.nav__item .nav__link:hover + .nav__list--hidden, .nav__list--hidden:hover {
  display: block;
}

//------------------------ logo -----------------------
.logo {
  display: inline-block;
  height: 100%;

  &__link:hover {
    border: 0;
  }

  &__img {
    margin-top: .6rem;
    width: auto;
    height: 6rem;
  }

  &__text {
    height: 2rem;
    margin-left: .5rem;
    margin-bottom: 1.7rem;
  }
}