extends ../layout.pug

block index

  header#header.header.bs
    include ../navigation.pug

    // hero box
    .header__hero-box.bs
      .heading__wrap
        h1.header__heading.bs Dekorační stěrky
      p.header__text.bs
        | Malování interiéru v našem pojetí se možná trochu liší od toho, na co jste zvyklí. Barvy, štuky, stěrky a další materiály nenakupujeme v drogerii, ale dodávají nám je přední evropští výrobci prémiových nátěrových hmot.
    a.decor__link(href="#")
      i.ion-ios-arrow-up

  section.section-decor-types
    .row
      h2.bs Druhy povrchů, které umíme:

    section.section-aureum.clearfix
      .row
        .flex-row
          .flex-col
            .decor-img__wrap.thumb-aureum-js
              a.gallery-aureum-js(href="resources/img/bs/aureum-8.jpg")
                img.decor__img(src="resources/img/bs/aureum-8.jpg" alt="aureum")
              .decor-img__overlay
                p.decor-img__text Otevřít Galerii
            a.gallery-aureum-js(href="resources/img/bs/aureum-1.jpg")
            a.gallery-aureum-js(href="resources/img/bs/aureum-2.jpg")
            a.gallery-aureum-js(href="resources/img/bs/aureum-3.jpg")
            a.gallery-aureum-js(href="resources/img/bs/aureum-4.jpg")
            a.gallery-aureum-js(href="resources/img/bs/aureum-5.jpg")
            a.gallery-aureum-js(href="resources/img/bs/aureum-6.jpg")
            a.gallery-aureum-js(href="resources/img/bs/aureum-7.jpg")
            a.gallery-aureum-js(href="resources/img/bs/aureum-9.jpg")
            a.gallery-aureum-js(href="resources/img/bs/aureum-10.jpg")
          .flex-col
            .description
              h3.bs Aureum
              p.decor__text
                | Když se spojí dva z nejušlechtilejších přírodních materiálů, zlato a mramor, vznikne úchvatný benátský štuk AUREUM
                | od italského výrobce Oikos. Kombinace zemitých přírodních barev, zlatavých odlesků a nadčasové krásy mramoru vytváří
                | až neuvěřitelné efekty, které promění každý interiér v království luxusu a prestiže.
              .decor__icons
                a.decor__link.galleryButton-aureum-js(href="#")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 90 69")
                      use(xlink:href="#gallery-icon")
                  span.decor__tooltip-text Fotogalerie
                a.decor__link(href="/resources/files/aureum.pdf" target="_blank")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 81 100")
                      use(xlink:href="#pdf-icon")
                  span.decor__tooltip-text Dokumentace
                a.decor__link(href="http://www.oikos-group.it/en/p/aureum" target="_blank")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 31 31")
                      use(xlink:href="#website-icon")
                  span.decor__tooltip-text Aureum
        hr.decor__line
        .flex-row
          .color-alternatives
            h3.bs Barevné varianty
            .colors
              figure
                img.color__img(data-featherlight="resources/img/color-au-16-melia.jpg" src="resources/img/color-au-16-melia.jpg" alt="melia")
                figcaption Au 16 Melia
              figure
                img.color__img(data-featherlight="resources/img/color-au-24-gea.jpg" src="resources/img/color-au-24-gea.jpg" alt="gea")
                figcaption Au 34 Gea
              figure
                img.color__img(data-featherlight="resources/img/color-au-32-arcadia.jpg" src="resources/img/color-au-32-arcadia.jpg" alt="arcadia")
                figcaption Au 32 Arcadia
              figure
                img.color__img(data-featherlight="resources/img/color-au-40-rea.jpg" src="resources/img/color-au-40-rea.jpg" alt="rea")
                figcaption Au 40 Rea

    section.section-encanto.clearfix
      .row
        .flex-row
          .flex-col
            .description
              h3.bs Encanto
              p.decor__text
                | Když se spojí dva z nejušlechtilejších přírodních materiálů, zlato a mramor, vznikne úchvatný benátský štuk AUREUM
                | od italského výrobce Oikos. Kombinace zemitých přírodních barev, zlatavých odlesků a nadčasové krásy mramoru vytváří
                | až neuvěřitelné efekty, které promění každý interiér v království luxusu a prestiže.
              .decor__icons
                a.decor__link.galleryButton-encanto-js(href="#")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 90 69")
                      use(xlink:href="#gallery-icon")
                  span.decor__tooltip-text Fotogalerie
                a.decor__link(href="/resources/files/encanto.pdf" target="_blank")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 81 100")
                      use(xlink:href="#pdf-icon")
                  span.decor__tooltip-text Dokumentace
                a.decor__link(href="http://www.oikos-group.it/en/p/encanto" target="_blank")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 31 31")
                      use(xlink:href="#website-icon")
                  span.decor__tooltip-text Encanto
          .flex-col
            .decor-img__wrap.thumb-encanto-js
              a.gallery-encanto-js(href="resources/img/bs/encanto-7.jpg")
                img.decor__img(src="resources/img/bs/encanto-7.jpg" alt="encanto")
              .decor-img__overlay
                p.decor-img__text Otevřít Galerii
            a.gallery-encanto-js(href="resources/img/bs/encanto-1.jpg")
            a.gallery-encanto-js(href="resources/img/bs/encanto-2.jpg")
            a.gallery-encanto-js(href="resources/img/bs/encanto-3.jpg")
            a.gallery-encanto-js(href="resources/img/bs/encanto-4.jpg")
            a.gallery-encanto-js(href="resources/img/bs/encanto-5.jpg")
            a.gallery-encanto-js(href="resources/img/bs/encanto-6.jpg")
            a.gallery-encanto-js(href="resources/img/bs/encanto-9.jpg")
            a.gallery-encanto-js(href="resources/img/bs/encanto-10.jpg")
            a.gallery-encanto-js(href="resources/img/bs/encanto-11.jpg")
            a.gallery-encanto-js(href="resources/img/bs/encanto-12.jpg")
        hr.decor__line
        .flex-row
          .color-alternatives
            h3.bs Barevné varianty
            .colors
              figure
                img.color__img(data-featherlight="resources/img/color-en-gold-.jpg" src="resources/img/color-en-gold-.jpg" alt="Gold-")
                figcaption Gold-
              figure
                img.color__img(data-featherlight="resources/img/color-en-gold01.jpg" src="resources/img/color-en-gold01.jpg" alt="Gold01")
                figcaption Gold01
              figure
                img.color__img(data-featherlight="resources/img/color-en-gold02.jpg" src="resources/img/color-en-gold02.jpg" alt="Gold02")
                figcaption Gold02
              figure
                img.color__img(data-featherlight="resources/img/color-en-gold03.jpg" src="resources/img/color-en-gold03.jpg" alt="Gold03")
                figcaption Gold03

    section.section-ottocento.clearfix
      .row
        .flex-row
          .flex-col
            .decor-img__wrap.thumb-ottocento-js
              a.gallery-ottocento-js(href="resources/img/bs/ottocento-5.jpg")
                img.decor__img(src="resources/img/bs/ottocento-5.jpg" alt="ottocento")
              .decor-img__overlay
                p.decor-img__text Otevřít Galerii
            a.gallery-ottocento-js(href="resources/img/bs/Ottocento-1.jpg")
            a.gallery-ottocento-js(href="resources/img/bs/Ottocento-2.jpg")
            a.gallery-ottocento-js(href="resources/img/bs/Ottocento-3.jpg")
            a.gallery-ottocento-js(href="resources/img/bs/Ottocento-4.jpg")
            a.gallery-ottocento-js(href="resources/img/bs/Ottocento-6.jpg")
            a.gallery-ottocento-js(href="resources/img/bs/Ottocento-7.jpg")
            a.gallery-ottocento-js(href="resources/img/bs/Ottocento-8.jpg")
          .flex-col
            .description
              h3.bs Ottocento
              p.decor__text
                | Když se spojí dva z nejušlechtilejších přírodních materiálů, zlato a mramor, vznikne úchvatný benátský štuk AUREUM
                | od italského výrobce Oikos. Kombinace zemitých přírodních barev, zlatavých odlesků a nadčasové krásy mramoru vytváří
                | až neuvěřitelné efekty, které promění každý interiér v království luxusu a prestiže.
              .decor__icons
                a.decor__link.galleryButton-ottocento-js(href="#")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 90 69")
                      use(xlink:href="#gallery-icon")
                  span.decor__tooltip-text Fotogalerie
                a.decor__link(href="/resources/files/ottocento.pdf" target="_blank")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 81 100")
                      use(xlink:href="#pdf-icon")
                  span.decor__tooltip-text Dokumentace
                a.decor__link(href="http://www.oikos-group.it/en/p/ottocento" target="_blank")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 31 31")
                      use(xlink:href="#website-icon")
                  span.decor__tooltip-text Ottocento
        hr.decor__line
        .flex-row
          .color-alternatives
            h3.bs Barevné varianty
            .colors
              figure
                img.color__img(data-featherlight="resources/img/color-ot-an750.jpg" src="resources/img/color-ot-an750.jpg" alt="AN750")
                figcaption AN750
              figure
                img.color__img(data-featherlight="resources/img/color-ot-an751.jpg" src="resources/img/color-ot-an751.jpg" alt="AN751")
                figcaption AN751
              figure
                img.color__img(data-featherlight="resources/img/color-ot-an752.jpg" src="resources/img/color-ot-an752.jpg" alt="AN752")
                figcaption AN752
              figure
                img.color__img(data-featherlight="resources/img/color-ot-an753.jpg" src="resources/img/color-ot-an753.jpg" alt="AN753")
                figcaption AN753

    section.section-travertino-romano.clearfix
      .row
        .flex-row
          .flex-col
            .description
              h3.bs Travertino Romano
              p.decor__text
                | Když se spojí dva z nejušlechtilejších přírodních materiálů, zlato a mramor, vznikne úchvatný benátský štuk AUREUM
                | od italského výrobce Oikos. Kombinace zemitých přírodních barev, zlatavých odlesků a nadčasové krásy mramoru vytváří
                | až neuvěřitelné efekty, které promění každý interiér v království luxusu a prestiže.
              .decor__icons
                a.decor__link.galleryButton-romano-js(href="#")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 90 69")
                      use(xlink:href="#gallery-icon")
                  span.decor__tooltip-text Fotogalerie
                a.decor__link(href="/resources/files/travertino-romano.pdf" target="_blank")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 81 100")
                      use(xlink:href="#pdf-icon")
                  span.decor__tooltip-text Dokumentace
                a.decor__link(href="http://www.oikos-group.it/en/p/travertinoromanodesign" target="_blank")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 31 31")
                      use(xlink:href="#website-icon")
                  span.decor__tooltip-text Travertino Romano
          .flex-col
            .decor-img__wrap.thumb-romano-js
              a.gallery-romano-js(href="resources/img/bs/travertino-romano-2.jpg")
                img.decor__img(src="resources/img/bs/travertino-romano-2.jpg" alt="Travertino Romano")
              .decor-img__overlay
                p.decor-img__text Otevřít Galerii
            a.gallery-romano-js(href="resources/img/bs/travertino-romano-1.jpg")
            a.gallery-romano-js(href="resources/img/bs/travertino-romano-3.jpg")
            a.gallery-romano-js(href="resources/img/bs/travertino-romano-4.jpg")
            a.gallery-romano-js(href="resources/img/bs/travertino-romano-5.jpg")
        hr.decor__line
        .flex-row
          .color-alternatives
            h3.bs Barevné varianty
            .colors
              figure
                img.color__img(data-featherlight="resources/img/color-tr-beige.jpg" src="resources/img/color-tr-beige.jpg" alt="beige")
                figcaption Beige
              figure
                img.color__img(data-featherlight="resources/img/color-tr-black.jpg" src="resources/img/color-tr-black.jpg" alt="black")
                figcaption Black
              figure
                img.color__img(data-featherlight="resources/img/color-tr-grey.jpg" src="resources/img/color-tr-grey.jpg" alt="grey")
                figcaption Grey
              figure
                img.color__img(data-featherlight="resources/img/color-tr-red.jpg" src="resources/img/color-tr-red.jpg" alt="red")
                figcaption Red

    section.section-arteviva.clearfix
      .row
        .flex-row
          .flex-col
            .decor-img__wrap.thumb-arteviva-js
              a.gallery-arteviva-js(href="resources/img/bs/arteviva-1.jpg")
                img.decor__img(src="resources/img/bs/arteviva-1.jpg" alt="Arte Viva")
              .decor-img__overlay
                p.decor-img__text Otevřít Galerii
            a.gallery-arteviva-js(href="resources/img/bs/arteviva-2.jpg")
            a.gallery-arteviva-js(href="resources/img/bs/arteviva-3.jpg")
            a.gallery-arteviva-js(href="resources/img/bs/arteviva-4.jpg")
            a.gallery-arteviva-js(href="resources/img/bs/arteviva-5.jpg")
            a.gallery-arteviva-js(href="resources/img/bs/arteviva-6.jpg")
            a.gallery-arteviva-js(href="resources/img/bs/arteviva-7.jpg")
          .flex-col
            .description
              h3.bs Arte Viva
              p.decor__text
                | Když se spojí dva z nejušlechtilejších přírodních materiálů, zlato a mramor, vznikne úchvatný benátský štuk AUREUM
                | od italského výrobce Oikos. Kombinace zemitých přírodních barev, zlatavých odlesků a nadčasové krásy mramoru vytváří
                | až neuvěřitelné efekty, které promění každý interiér v království luxusu a prestiže.
              .decor__icons
                a.decor__link.galleryButton-arteviva-js(href="#")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 90 69")
                      use(xlink:href="#gallery-icon")
                  span.decor__tooltip-text Fotogalerie
                a.decor__link(href="https://www.resinaarteviva.it/cs/" target="_blank")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 31 31")
                      use(xlink:href="#website-icon")
                  span.decor__tooltip-text Arte Viva

    section.section-zero.clearfix
      .row
        .flex-row
          .flex-col
            .description
              h3.bs Zero
              p.decor__text
                | Vysoce odolná interiérová a fasádní exklusivní dekorativní špachtlovací hmota s sametovým povrchem s efekty kovu, perletě nebo zlata.
              .decor__icons
                a.decor__link.galleryButton-zero-js(href="#")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 90 69")
                      use(xlink:href="#gallery-icon")
                  span.decor__tooltip-text Fotogalerie
                a.decor__link(href="http://www.zerobarvy.cz/cz/magictouch" target="_blank")
                  span.decor__icon
                    svg.link__icon(width="100%" height="100%" viewbox="0 0 31 31")
                      use(xlink:href="#website-icon")
                  span.decor__tooltip-text Zero
          .flex-col
            .decor-img__wrap.thumb-zero-js
              a.gallery-zero-js(href="resources/img/bs/zero-3.jpg")
                img.decor__img(src="resources/img/bs/zero-3.jpg" alt="Zero")
              .decor-img__overlay
                p.decor-img__text Otevřít Galerii
            a.gallery-zero-js(href="resources/img/bs/zero-1.jpg")
            a.gallery-zero-js(href="resources/img/bs/zero-2.jpg")
            a.gallery-zero-js(href="resources/img/bs/zero-4.jpg")
            a.gallery-zero-js(href="resources/img/bs/zero-5.jpg")
            a.gallery-zero-js(href="resources/img/bs/zero-6.jpg")
            a.gallery-zero-js(href="resources/img/bs/zero-7.jpg")
            a.gallery-zero-js(href="resources/img/bs/zero-8.jpg")
            a.gallery-zero-js(href="resources/img/bs/zero-9.jpg")

  include ../footer.pug

  script(src="vendors/js/jquery-3.2.1.min.js")
  script(src="vendors/js/featherlight.min.js")
  script(src="vendors/js/featherlight.gallery.min.js")
  script(src="resources/js/script.js")
