extends ../layout.pug

block vars
  -var title = "Radek Tlach | Mytí a Čištění fasád | Aracolor.cz"
  -var description = "Likvidace řas, plísní, lišejníků, mechů a odstranění smogových nečistot z fasád a chodníků."

block index

  header#header.header.cl
    include ../navigation.pug

    // hero box
    .header__hero-box.bs
      .heading__wrap
        h1.header__heading.bs Mytí a Čištění fasád
      p.header__text.bs
        | Likvidace řas, plísní, lišejníků, mechů a odstranění smogových nečistot z fasád a chodníků.
    a.decor__link(href="#")
      i.ion-ios-arrow-up

  section.section-cleaning-types
    .row
      .services__service.col.span-1-of-6.box
        img.service--icon(src="resources/icons/house.svg" alt="Ikona špachtle")
        h3 Mytí a čištění fasád
        p
          | Likvidace řas, plísní, lišejníků, mechů a odstranění smogových nečistot z fasád a chodníků.

      .services__service.col.span-1-of-6.box
        img.service--icon(src="resources/icons/house-roof.svg" alt="Ikona válečku")
        h3 Čištění střech
        p
          | Čištění BRAMAC střech, čištění plechových střech, čištění eternitových střech.

      .services__service.col.span-1-of-6.box
        img.service--icon(src="resources/icons/brush.svg" alt="Ikona štětce")
        h3 Nátěr střech
        p
          | Nátěr plechových střech, nátěr eternitových střech a nátěr KM Beta střech.
      .clearfix

      .services__service.col.span-1-of-6.box
        img.service--icon(src="resources/icons/airbrush.svg" alt="Ikona stříkací pistole")
        h3 Nástřik plechového opláštění

      .services__service.col.span-1-of-6.box
        img.service--icon(src="resources/icons/tiles.svg" alt="Ikona stříkací pistole")
        h3 Čištění zámkové dlažby
        p
          | Od mechů, řas, lišejníků a běžných nečistot.

      .services__service.col.span-1-of-6.box
        img.service--icon(src="resources/icons/graffiti.svg" alt="Ikona smetáku")
        h3 Odstraňování graffiti

  section
    .row
      ul.ref__showcase--list.clearfix
        li.ref__showcase--item
          figure.ref__showcase--photo
            img.ref__showcase--img(src="resources/img/cisteni/1.jpg" alt="Čištění fasády")
        li.ref__showcase--item
          figure.ref__showcase--photo
            img.ref__showcase--img(src="resources/img/cisteni/2.jpg" alt="Čištění střechy")
        li.ref__showcase--item
          figure.ref__showcase--photo
            img.ref__showcase--img(src="resources/img/cisteni/3.jpg" alt="Čištění střechy")
        li.ref__showcase--item
          figure.ref__showcase--photo
            img.ref__showcase--img(src="resources/img/cisteni/4.jpg" alt="Čištění střechy")
        li.ref__showcase--item
          figure.ref__showcase--photo
            img.ref__showcase--img(src="resources/img/cisteni/5.jpg" alt="Čištění střechy")
        li.ref__showcase--item
          figure.ref__showcase--photo
            img.ref__showcase--img(src="resources/img/cisteni/6.jpg" alt="Čištění dlažby")
    .row
      p
        a.ref__gallery-link(href="ref-myti.html") Otevřít galerii referencí...


  include ../footer.pug

  script(src="vendors/js/jquery-3.2.1.min.js")
  script(src="vendors/js/featherlight.min.js")
  script(src="resources/js/script.js")
