extends ../layout.pug

block vars
  -var title = "Reference Dekoračních stěrek, maleb, nátěrů | Aracolor.cz"
  -var description = "Předkládáme malou úkázku z Naších referenčních projektů pro firmy i instituce- Dekorační stěrky, exteriérové a interiérové malby, nátěry a úkázky čištění fasád."

block index

  header#header.header.rg
    include ../navigation.pug

    // hero box
    .header__hero-box.rg
      .heading__wrap
        h1.header__heading Reference Mytí fasád

    a.decor__link(href="#")
      i.ion-ios-arrow-up

  section.ref-gallery__photo

    - var n = 10
    - var counter = 1

    while counter <= n
      a(class="ref-gallery__link-js" href="resources/img/ref/myti_fasad/" + counter + ".jpg")
        img(class="ref-gallery__photo--img" src="resources/img/ref/myti_fasad/" + counter++ + ".jpg" alt="Reference Mytí fasád " + counter)


  include ../footer.pug

  script(src="vendors/js/jquery-3.2.1.min.js")
  script(src="vendors/js/featherlight.min.js")
  script(src="vendors/js/featherlight.gallery.min.js")
  script(src="resources/js/script.js")
