extends ../layout.pug

block vars
  -var title = "Reference Dekoračních stěrek, maleb, nátěrů | Aracolor.cz"
  -var description = "Předkládáme malou úkázku z Naších referenčních projektů pro firmy i instituce- Dekorační stěrky, exteriérové a interiérové malby, nátěry a úkázky čištění fasád."

block index

  header#header.header.rg
    include ../navigation.pug

    // hero box
    .header__hero-box.rg
      .heading__wrap
        h1.header__heading Reference Tapetování

    a.decor__link(href="#")
      i.ion-ios-arrow-up

  section.ref-gallery__photo

    - var n = 2
    - var counter = 1

    .grid
      .grid-sizer
      while counter <= n
        .grid-item
          a(class="ref-gallery__link-js" href="resources/img/ref/tapety/" + counter + ".jpg")
            img(class="ref-gallery__photo--img" src="resources/img/ref/tapety/thumbs/" + counter++ + ".jpg" alt="Reference Tapetování " + counter)


  include ../footer.pug

  script(src="vendors/js/jquery-3.2.1.min.js")
  script(src="vendors/js/featherlight.min.js")
  script(src="vendors/js/featherlight.gallery.min.js")
  script(src="vendors/js/masonry.pkgd.min.js")
  script(src="vendors/js/imagesloaded.pkgd.min.js")
  script(src="resources/js/script.js")

  script.
    var grid = document.querySelector('.grid');
    var msnry;

    imagesLoaded( grid, function() {
      // init Isotope after all images have loaded
      msnry = new Masonry( grid, {
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true,
      });
    });
