/*--- back to top button ---  */
.btn--back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 3.2rem;
  right: 3.2rem;
  width: 4.8rem;
  height: 4.8rem;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: $color-bg-dark;
  border-radius: 50%;
  background-color: $color-gold;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
}

.btn--back-to-top:hover {
  background-color: lighten($color-gold, 10%);
  transform: translateY(-2px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

// scroll to top button icon
.ion-ios-arrow-up {
  color: $color-bg-dark;
  font-size: 3.2rem;
  line-height: 4.8rem;
}