/*--- back to top button ---  */
.btn--back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: 5rem;
  height: 5rem;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: $color-white;
  border-radius: 0.4rem;
  background-color: $primary-color;
  text-align: center;
}

.btn--back-to-top:hover {
  background-color: rgba($primary-color, 0.9);
}

// scroll to top button icon
.ion-ios-arrow-up {
  color: $color-white;
  font-size: 5rem;
}