/*
main color: #2980B9
*/

/*------------------------ Basic setup ----------------------- */

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #fff;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x:hidden;

}

.clearfix { zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*------------------------ Reusable comp ----------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

/*------------------------ Headings ----------------------- */

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 4px;
  letter-spacing: 2px;
  color: #555;
  text-align: center;

}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  text-align: center;
}

/* line after h2 */
h2:after {
  display: block;
  height: 2px;
  background-color: #2980B9;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*------------------------ Header ----------------------- */

.header {
  background-image: url(img/home-betonove-sterky-2.jpg);
  background-attachment: fixed;
  height: 80vh;
  transition: background-image 0.5s;
}

/*--- back to top button ---  */
.btn--back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 6%;
  right: 6%;
  width: 50px;
  height: 50px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  background-color: #2980B9;
  text-align: center;
}
.btn--back-to-top:hover {
  background-color: rgba(54, 108, 208, 0.9);
}

.ion-ios-arrow-up {
  color: #fff;
  font-size: 50px;
}

.header__hero-box {
  position: absolute;
  width: auto;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.hero-box__heading {
  padding: 8px 30px;
  background-color: rgba(36, 188, 208, 0.897);
}

.hero-box__text {
  text-align: justify;
  background-color: rgba(54, 108, 208, 0.9);
  padding: 20px 20px;
  margin-top: 20px;
  line-height: 1.3;
  word-spacing: 2px;
  font-weight: 100;
}

.hero-box__text--inner,
.hero-box__text--link
{
  padding: 2px 15px;
  background-color: #366AD0;
  font-size: 150%;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.hero-box__text--link:link,
.hero-box__text--link:visited {
  color: #22C6AC;
  text-decoration: none;
  text-transform: none;
}

.hero-box__text--link:hover,
.hero-box__text--link:active {
  color: #222CC6;
  text-decoration: underline;
}

.scrolldown-anim__link {
  position: absolute;
  top: 72%;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.header__scrolldown-anim:hover {
  opacity: .5;
}

.scrolldown-anim__link--inner {
  position: absolute;
  top: 0px;;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

.scrolldown-anim__link--inner::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scrollDown 2s infinite;
  animation: scrollDown 2s infinite;
  box-sizing: border-box;
}

@keyframes scrollDown {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*------------------------ Links ----------------------- */

a:link,
a:visited {
  color: #2980B9;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #2980B9;
  transition: border-bottom 0.2s color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/*------------------------ Main Navigation ----------------------- */


.header__nav--sticky {
  /* background-color:#2980B9; */
  background-color:#fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 2px rgba(70, 69, 69, 0.507);
}

.header__nav--sticky a:link {
  border: none;
}

.main-nav {
  float: right;
  margin: 0 0 0 0;
}

/*Strip the ul of padding and list styling*/
.main-nav__list--hidden {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

/*Create a horizontal list with spacing*/
.main-nav__item {
  display:inline-block;
  float: left;
}

/*Style for menu links*/
.main-nav__link{
  display:block;
  min-width: 120px;
  text-align: center;
  line-height: 85px;
  color: #000;
  text-decoration: none;
}

/*Hover state for top level links*/
.main-nav__link:hover {
  background-color: #24BAD0;
}

/*Style for dropdown links*/
.main-nav__item:hover .main-nav__list--hidden .main-nav__link {
  background: #fff;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

/*Hover state for dropdown links*/
.main-nav__item:hover .main-nav__link:hover {
  background-color: #24BAD0;
  color: #fff;
}

/* hide dropdown links until they are needed  */
.main-nav__list--hidden {
  display: none;
}

/*Make dropdown links vertical*/
.main-nav__list--hidden .main-nav__item {
  display: block;
  float: none;
}

/*Prevent text wrapping*/
.main-nav__link {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

/*Display the dropdown on hover*/
.main-nav__item .main-nav__link:hover +
.main-nav__list--hidden,
.main-nav__list--hidden:hover {
  display: block;
}

/*------------------------ logo ----------------------- */

.logo {
  display: inline;
}

.logo--img {
  margin-top: 12px;
  width: 4.5%;
  height: auto;

}
.logo--text {
  width: 8%;
  height: auto;
  margin-left: 5px;
  margin-bottom: 17px;
}

/*------------------------ arrows ----------------------- */

.header__arrows span {
  height: 85vh;
  display: inline-flex;
  align-items: center;
}

.header__arrows .arrows__link {
  border: 0;
}

.arrows--icon {
  color: #fff;
  font-size: 350%;
}

.header__arrows--left {
  margin-left: 20px;
}

.header__arrows--right {
  margin-right: 20px;
  float: right;
}

/*------------------------ icons ----------------------- */

.icon-big {
  font-size: 350%;
  display: block;
  color: #2980B9;
  margin-bottom: 10px;
  text-align: center;
}

.icon-small {
  font-size: 130%;
  margin-right: 10px;
  color: #2980B9;
}

.svg-icon {
  display: block;
  margin: auto;
  padding: 15px 0 25px 0;
  width: auto;
  height: 45px;
}

.icon-contacts {
  font-size: 130%;
  color: #2980B9;
  padding-right: 15px;
}

/*------------------------ paragraphs ----------------------- */

.box p {
  font-size: 90%;
  line-height: 145%;
  text-align: center;
  padding: 0 5px;
}

/*------------------------ section why us ----------------------- */

.why-us__heading {
  color: #555;
  text-align: center;
}

.long-copy {
  width: 70%;
  margin-left: 15%;
  line-height: 145%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*------------------------ section gallery ----------------------- */

.section-gallery {
  padding:0;
}

.gallery__showcase {
  list-style: none;
  width: 100%;
}

.gallery__list {
  display: block;
  float: left;
  width: 25%;
}

.gallery__photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.gallery__photo--img {
  opacity: 0.7;
  width: 100%;
  transform: scale(1.15);
  transition: opacity 0.5s;
  transition: transform 0.5s
}

.gallery__photo--img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/*------------------------ section our services ----------------------- */


.section-our-services .col {
  transition: background-color 0.3s;
}

.section-our-services .box {
  padding-top: 10px;
  padding-bottom: 35px;
}

.section-our-services .col:hover {
  background-color: #f6f6f6;
}


/*------------------------ section references ----------------------- */

.section-references {
  background-color: #f6f6f6;
}

.section-references .row:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 75px;
}

.ref-logo {
  height: 55px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.ref-logo:hover {
  opacity: 1;
}

/* --- Ref Gallery --- */

.section-references .row:nth-child(3) {
  padding: 0;
}

.ref-showcase {
  list-style-type: none;
  width: 100%;
}

.ref-showcase li {
  display: block;
  float: left;
  width: 33.3%;

}

.ref-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.ref-photo img {
  opacity: 0.7;
  width: 100%;
  min-height: 330px;
  max-height: 330px;
  transform: scale(1.15);
  transition: opacity 0.5s;
  transition: transform 0.5s
}

.ref-photo img:hover {
  opacity: 1;
  transform: scale(1.05);
}

/*------------------------ section price list ----------------------- */

.section-price-list {
  min-height: 500px;
}

.section-price-list .row:nth-of-type(2){
  margin-top: 35px;
  margin-bottom: 35px;
}

.section-price-list .col:nth-of-type(2) div,
.paint div
{
  height: 30px;
  width: 100%;
  overflow: hidden;
}

.grow {
  height: 30px;
  width: 100%;
  position: relative;
  transition: height 0.5s;
  /* text-align: center; */
  overflow: hidden;
}

.grow:nth-of-type(2) {
  background-color: #f6f6f6;
}

.grow:hover {
  height: 300px;
}

.grow img {
  display: block;
  clear: both;
  height: 125px;
  text-align: center;
}

.price-list-task {
  float: left;
  padding: 5px 0 5px 10px;
}

.price-list-price {
  float: right;
  padding: 5px 10px 5px 0;
}

.price-list-parameters {
  clear: both;
}

table {
  font-size: 80%;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: right;
  padding-right: 10px;
  vertical-align: top;
}

tr {
  border-bottom: 0.5px solid #555;
  line-height: 30px;
}

.price-list-parameters tr td:first-child,
.price-list-parameters tr:first-child td:nth-of-type(2)
{
  text-align: left;
  font-weight: 700;
}

/*------------------------ section contacts ----------------------- */
/* AIzaSyBNGV3l1VY2VgCa65oFRLkugBgLAJy3olI */
#map {
  width: 100%;
  height: 450px;
  background-color: #555;
}

.section-contacts {
  background-color: #f6f6f6;
}

.section-contacts h2 {
  margin-bottom: 35px;
}

.section-contacts p {
  margin: 15px;
  text-align: left;
}

.section-contacts span {
  font-weight: 800;
  margin-right: 15px;
}

.section-contacts span:nth-of-type(3) {
  margin-left: 30px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
}

/*------------------------ footer ----------------------- */

footer {
  background-color: rgb(61, 61, 61);
  padding: 40px;
}

.footer-nav {
  list-style: none;
  float: left;
  font-size: 80%;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0 px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #a0a0a0;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    text-decoration: none;
    border: 0;
    color: rgb(192, 192, 192);
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 140%;
}

.ion-social-facebook,
.ion-social-instagram {
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-instagram:hover {
  color: #e95950;
}

footer p {
  color: #a0a0a0;
  text-align: center;
  margin-top: 20px;
}

footer p a:link,
footer p a:visited {
  text-decoration: none;
  border-bottom: 1px dotted rgb(37, 37, 37);
  color: rgb(37, 37, 37);
  transition: color 0.2s;
}

footer p a:hover,
footer p a:active {
  color: #f6f6f6;
}