/*------------------------ Basic setup ----------------------- */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  /*------------------------ Reusable comp ----------------------- */ }

.row {
  max-width: 1140px;
  margin: 0 auto; }

section {
  padding: 8rem 0; }

body {
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

/*------------------------ Headings ----------------------- */
h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase; }

h1 {
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 4.8rem;
  word-spacing: .4rem;
  letter-spacing: .1rem; }

h2 {
  font-size: 3.6rem;
  word-spacing: .4rem;
  letter-spacing: .2rem;
  color: #555;
  text-align: center; }

h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  text-align: center; }

/* line after h2 */
h2:after {
  display: block;
  height: .2rem;
  background-color: #2980B9;
  content: " ";
  width: 10rem;
  margin: 0 auto;
  margin-top: .3rem; }

/*------------------------ Header ----------------------- */
.header {
  background-image: url(img/home-betonove-sterky-2.jpg);
  background-attachment: fixed;
  height: 80vh;
  transition: background-image .5s; }

/*--- back to top button ---  */
.btn--back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: 5rem;
  height: 5rem;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #fff;
  border-radius: 0.4rem;
  background-color: #2980B9;
  text-align: center; }

.btn--back-to-top:hover {
  background-color: rgba(41, 128, 185, 0.9); }

.ion-ios-arrow-up {
  color: #fff;
  font-size: 5rem; }

.header__hero-box {
  position: absolute;
  width: auto;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%); }

.hero-box__heading {
  padding: .8rem 3rem;
  background-color: rgba(34, 198, 47, 0.897); }

.hero-box__text {
  text-align: justify;
  background-color: rgba(208, 77, 36, 0.9);
  padding: 2rem 2rem;
  margin-top: 2rem;
  line-height: 1.3;
  word-spacing: .2rem;
  font-weight: 100; }

.hero-box__text--inner, .hero-box__text--link {
  padding: .2rem 1.5rem;
  font-size: 3rem;
  color: #fff;
  letter-spacing: .1rem;
  word-spacing: .4rem; }

.hero-box__text--link:link, .hero-box__text--link:visited {
  color: #22C62F;
  text-transform: none;
  border-bottom: 0; }

.hero-box__text--link:hover, .hero-box__text--link:active {
  color: #9022C6;
  border-bottom: 0.1rem solid #9022C6; }

.scrolldown-anim__link {
  position: absolute;
  top: 72%;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  transition: opacity .3s; }

.header__scrolldown-anim:hover {
  opacity: .5; }

.scrolldown-anim__link--inner {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3rem;
  height: 5rem;
  margin-left: -1.5rem;
  border: 0.2rem solid #fff;
  border-radius: 5rem;
  box-sizing: border-box; }

.scrolldown-anim__link--inner::before {
  position: absolute;
  top: 1rem;
  left: 50%;
  content: '';
  width: .6rem;
  height: .6rem;
  margin-left: -.3rem;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scrollDown 2s infinite;
  animation: scrollDown 2s infinite;
  box-sizing: border-box; }

@keyframes scrollDown {
  0% {
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    transform: translate(0, 2rem);
    opacity: 0; }
  100% {
    opacity: 0; } }

/*------------------------ Links ----------------------- */
a:link, a:visited {
  color: #2980B9;
  text-decoration: none;
  padding-bottom: .1rem;
  border-bottom: 0;
  transition: border-bottom 0.2s color 0.2s; }

a:hover, a:active {
  color: #555;
  border-bottom: 0.1rem solid #2980B9; }

/*------------------------ Main Navigation ----------------------- */
.header__nav--sticky {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0.2rem 0.2rem rgba(70, 69, 69, 0.507); }

.header__nav--sticky a:link {
  border: none; }

.main-nav {
  float: right;
  margin: 0 0 0 0; }

/*Strip the ul of padding and list styling*/
.main-nav__list--hidden {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute; }

/*Create a horizontal list with spacing*/
.main-nav__item {
  display: inline-block;
  float: left; }

/*Style for menu links*/
.main-nav__link {
  display: block;
  font-size: 2rem;
  min-width: 12rem;
  text-align: center;
  line-height: 8.5rem;
  color: #000;
  text-decoration: none; }

/*Hover state for top level links*/
.main-nav__link:hover {
  background-color: #2980B9; }

/*Style for dropdown links*/
.main-nav__item:hover .main-nav__list--hidden .main-nav__link {
  background: #fff;
  color: #555;
  height: 4rem;
  line-height: 4rem; }

/*Hover state for dropdown links*/
.main-nav__item:hover .main-nav__link:hover {
  background-color: #2980B9;
  color: #fff; }

/* hide dropdown links until they are needed  */
.main-nav__list--hidden {
  display: none; }

/*Make dropdown links vertical*/
.main-nav__list--hidden .main-nav__item {
  display: block;
  float: none; }

/*Prevent text wrapping*/
.main-nav__link {
  width: auto;
  min-width: 10rem;
  padding: 0 2rem; }

/*Display the dropdown on hover*/
.main-nav__item .main-nav__link:hover + .main-nav__list--hidden, .main-nav__list--hidden:hover {
  display: block; }

/*------------------------ logo ----------------------- */
.logo {
  display: inline; }

.logo--img {
  margin-top: 1.2rem;
  width: 4.5%;
  height: auto; }

.logo--text {
  width: 8%;
  height: auto;
  margin-left: .5rem;
  margin-bottom: 1.7rem; }

/*------------------------ arrows ----------------------- */
.header__arrows span {
  height: 85vh;
  display: inline-flex;
  align-items: center; }

.header__arrows .arrows__link {
  border: 0; }

.arrows--icon {
  color: #fff;
  font-size: 7rem; }

.header__arrows--left {
  margin-left: 2rem; }

.header__arrows--right {
  margin-right: 2rem;
  float: right; }

/*------------------------ icons ----------------------- */
.icon-big {
  font-size: 7rem;
  display: block;
  color: #2980B9;
  margin-bottom: 1rem;
  text-align: center; }

.icon-small {
  font-size: 2.6rem;
  margin-right: 1rem;
  color: #2980B9; }

.service--icon {
  display: block;
  margin: auto;
  padding: 1.5rem 0 2.5rem 0;
  height: 8rem; }

.icon-contacts {
  font-size: 2.6rem;
  color: #2980B9;
  padding-right: 3.5rem; }

/*------------------------ paragraphs ----------------------- */
.box p {
  font-size: 1.8rem;
  line-height: 2.9rem;
  text-align: center;
  padding: 0 .5rem; }

/*------------------------ section why us ----------------------- */
.why-us__heading {
  color: #555;
  text-align: center; }

.long-copy {
  width: 70%;
  margin-left: 15%;
  line-height: 145%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center; }

/*------------------------ section gallery ----------------------- */
.section-gallery {
  padding: 0; }

.gallery__showcase {
  list-style: none;
  width: 100%; }

.gallery__list {
  display: block;
  float: left;
  width: 25%; }

.gallery__photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000; }

.gallery__photo--img {
  opacity: 0.7;
  width: 100%;
  transform: scale(1.15);
  transition: opacity 0.5s;
  transition: transform 0.5s; }

.gallery__photo--img:hover {
  opacity: 1;
  transform: scale(1.03); }

/*------------------------ section our services ----------------------- */
.services__service {
  transition: background-color 0.3s;
  padding-top: 1rem;
  padding-bottom: 3.5rem; }

.services__service:hover {
  background-color: #f6f6f6; }

/*------------------------ section references ----------------------- */
.section-references {
  background-color: #f6f6f6; }

.section-references .row:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 7.5rem; }

.ref__logos--img {
  height: 5.5rem;
  opacity: 0.7;
  transition: opacity 0.3s; }

.ref-logo:hover {
  opacity: 1; }

/* --- Ref Gallery --- */
.section-references .row:nth-child(3) {
  padding: 0; }

.ref__showcase--list {
  list-style-type: none;
  width: 100%; }

.ref__showcase--item {
  display: block;
  float: left;
  width: 33.3%; }

.ref__showcase--photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000; }

.ref__showcase--img {
  opacity: 0.7;
  width: 100%;
  min-height: 33rem;
  max-height: 33rem;
  transform: scale(1.15);
  transition: opacity 0.5s;
  transition: transform 0.5s; }

.ref__showcase--img:hover {
  opacity: 1;
  transform: scale(1.05); }

/*------------------------ section price list ----------------------- */
.section-price-list {
  min-height: 50rem; }

.pl {
  margin-top: 3.5rem; }

.pl__category--item {
  height: 3rem;
  width: 100%;
  overflow: hidden;
  font-size: 2rem; }

.grow {
  position: relative;
  transition: height 0.5s; }

.pl__category--item:nth-of-type(even) {
  background-color: #f6f6f6; }

.grow:hover {
  height: 30rem; }

.grow img {
  display: block;
  clear: both;
  height: 12.5rem;
  text-align: center; }

.pl--type {
  float: left;
  padding: .5rem 0 .5rem 1rem; }

.pl--price {
  float: right;
  padding: .5rem 1rem .5rem 0; }

.pl--params {
  clear: both; }

.pl--params {
  font-size: 80%;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  border-collapse: collapse; }

.pl--params__row {
  border-bottom: 0.1rem solid #555;
  line-height: 3rem; }

.pl--params__column {
  text-align: right;
  padding-right: 1rem;
  vertical-align: top; }

.pl--params__column:first-child, .pl--params__row:first-child td:nth-of-type(2) {
  text-align: left;
  font-weight: 700; }

/*------------------------ section contacts ----------------------- */
#map {
  width: 100%;
  height: 45rem;
  background-color: #555; }

.section-contacts {
  background-color: #f6f6f6; }

.contacts__heading {
  margin-bottom: 3.5rem; }

.address--text {
  display: block; }

.section-contacts .address--group {
  margin: 1.5rem;
  text-align: left; }

.section-contacts b {
  font-weight: 800;
  margin-right: 1.5rem; }

.address--text + .marg {
  margin-left: 4.9rem; }

.contacts__address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 45rem; }

/*------------------------ footer ----------------------- */
.footer {
  background-color: #464545;
  padding: 4rem; }

.footer__nav--list {
  list-style: none;
  float: left;
  font-size: 1.6rem; }

.social-links {
  float: right; }

.footer__nav--item {
  display: inline-block;
  margin-right: 2rem; }

.footer-nav li:last-child, .social-links li:last-child {
  margin-right: 0; }

.footer__nav--link:link, .footer__nav--link:visited {
  text-decoration: none;
  border: 0;
  color: #a0a0a0;
  transition: color 0.2s; }

.footer__nav--link:hover, .footer__nav--link:active {
  text-decoration: none;
  border: 0;
  color: silver; }

.social-links .footer__nav--link:link, .social-links .footer__nav--link:visited {
  font-size: 2.8rem; }

.ion-social-facebook, .ion-social-instagram {
  transition: color 0.2s; }

.ion-social-facebook:hover {
  color: #3b5998; }

.ion-social-instagram:hover {
  color: #e95950; }

.footer__copy {
  color: #a0a0a0;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem; }

.footer__copy--link:link, .footer__copy--link:visited {
  text-decoration: none;
  padding-bottom: .2rem;
  border-bottom: 0.1rem dotted #252525;
  color: #252525;
  transition: color 0.2s; }

.footer__copy--link:hover, .footer__copy--link:active {
  color: #f6f6f6; }
