/*------------------------ Basic setup ----------------------- */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  // font-size: 32.5%
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;

  /*------------------------ Reusable comp ----------------------- */
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 8rem 0;
}

/*------------------------ Links ----------------------- */

a:link, a:visited {
  color: $primary-color;
  text-decoration: none;
  padding-bottom: 0.1rem;
  border-bottom: 0;
  transition: border-bottom, color .2s;
}

a:hover, a:active {
  color: $font-color-main;
  border-bottom: .1rem solid $primary-color;
}

/*------------------------ paragraphs ----------------------- */

.box p {
  font-size: 1.8rem;
  line-height: 2.9rem;
  text-align: center;
  padding: 0 0.5rem;
}

.long-copy {
  width: 70%;
  margin-left: 15%;
  line-height: 145%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
}