.section-decor-types {
  background-color: $light-gray;
  box-sizing: initial;

  .bs {
    margin-bottom: 3rem;
  }

  .gallery {
    border: none;
  }

  .decor-img__wrap {
    position: relative;
    display: block;

    .decor-img__overlay {
      position: absolute;
      background-color: $color-black;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: opacity .5s;

      p {
        color: $color-white;
        line-height: 35rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        // border: 1.5rem solid $color-white;
      }

    }

    &:hover {
      .decor-img__overlay {
        opacity: 0.7;
        cursor: pointer;
        transition: opacity .5s;
      }
    }



}




  // .qq:hover {
  //   background-color: $color-black;
  //   opacity: 0.5;
  //   z-index: 150;
  //   overflow: hidden;
  //   height: 100%;
  // }

}

.decor__text {
  font-size: 2rem;
  font-weight: 300;
  text-align: justify;
  padding: 0 2rem 0 0;
}

.section-decor-types .row:not(:first-child) {
  margin-top: 5.5rem;
}

.section-decor-types .row:nth-child(even) {
  background-color: $color-white;
}

.section-decor-types .row:last-child {
  margin-bottom: 6.5rem;
}

.decor__img {
  width: 100%;
  height: 100%;
}

.row:nth-child(even) .decor__icons {
  text-align: right;
}

.decor__icons a {
  border: none;
}

.link__icon {
  width: 5%;
  fill: #2980B9;
  padding: 1.5rem 2rem 0 2rem;
}

.link__icon:hover {
  fill: #24BAD0
}

.flex-row {
  display: flex;
}

.flex-col {
  flex: 1;
}

.flex-col:first-child {
  padding-right: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.decor__line {
  margin-top: 4rem;
}

.color-alternatives {
  margin: 3rem 0;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;

  figcaption {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 300;
  }
}

.color__img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  cursor: pointer;
}


