.section-decor-types {
  background-color: $light-gray;
  box-sizing: initial;

  .bs {
    margin-bottom: 3rem;
  }

  .gallery {
    border: none;
  }
}

.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center; }

.decor__text {
  font-size: 2rem;
  font-weight: 300;
  text-align: justify;
  padding: 0 2rem 0 0;
}

.section-decor-types .row:not(:first-child) {
  margin-top: 5.5rem;
}

.section-decor-types .row:nth-child(even) {
  background-color: $color-white;
}

.section-decor-types .row:last-child {
  margin-bottom: 6.5rem;
}

.decor__img {
  width: 100%;
  height: 100%;
}

.row:nth-child(even) .decor__icons {
  text-align: right;
}

.decor__icons a {
  border: none;
}

.link__icon {
  width: 5%;
  fill: #2980B9;
  padding: 1.5rem 2rem 0 2rem;
}

.link__icon:hover {
  fill: #24BAD0
}

.flex-row {
  display: flex;
}

.flex-col {
  flex: 1;
}

.flex-col:first-child {
  padding-right: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.decor__line {
  margin-top: 4rem;
}

.color-alternatives {
  margin: 3rem 0;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
}

.color__img {
  width: 15%;
  height: 15%;
  border-radius: 0.5rem;
}

.color__img {
  cursor: pointer;
}