.gotele-gallery__showcase {
  list-style: none;
  width: 100%;
}

.gotele-gallery__list {
  display: block;
  float: left;
  width: 25%;
  height: auto;
  overflow: hidden;
}

.gotele-gallery__photo {
  cursor: pointer;
  height: 22rem;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.gotele-gallery__photo--img {
  width: 100%;
  transform: scale(1.15);
  transition: opacity 0.5s;
  transition: transform 0.5s;
}

.gotele-gallery__photo--img:hover {
  transform: scale(1.03);
}

.gotele-gallery h2 {
  padding-bottom: 7rem;
}