/*------------------------ section our services ----------------------- */

.flex-service {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__service {
  display: inline-flex;
  flex-direction: column;
  // flex-wrap: wrap;
  width: 33%;
  transition: background-color 0.3s;
  padding: 1rem 2rem 3.5rem 2rem;
}



.services__service:hover {
  background-color: $light-gray;
}