//------------------------ section price list -----------------------

.section-price-list {
  min-height: 50rem;
}

.pl {
  margin-top: 3.5rem;
}

.pl__category--item {
  height: 3rem;
  width: 100%;
  overflow: hidden;
  font-size: 2rem;
}

.grow {
  position: relative;
  transition: height .5s;
}

.pl__category--item:nth-of-type(even) {
  background-color: $light-gray;
}

.grow:hover {
  height: 25rem;
}

.grow img {
  display: block;
  clear: both;
  height: 12.5rem;
  text-align: center;
}

.pl--type {
  float: left;
  padding: .5rem 0 .5rem 1rem;
}

.pl--price {
  float: right;
  padding: .5rem 1rem .5rem 0;
}

.pl--params {
  clear: both;
}

.pl--params {
  font-size: 80%;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  border-collapse: collapse;
}

.pl--params__row {
  border-bottom: .1rem solid rgba($font-color-main, .2);
  line-height: 3rem;
  &:last-of-type {
    border-bottom: .1rem solid transparent;
  }
}

.pl--params__column {
  text-align: right;
  padding-right: 1rem;
  vertical-align: middle;
  & .paint-can {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
  }
}

.no-border {
  border-bottom: .1rem solid transparent;
}
// .paint-can {
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   height: 1rem;
// }

.pl--params__column:first-child, .pl--params__row:first-child td:nth-of-type(2) {
  text-align: left;
  font-weight: 700;
}
