//------------------------ section price list -----------------------

.section-price-list {
  min-height: 50rem;
}

.pl {
  margin-top: 3.5rem;

  .pl__category {
    padding: 0 1.5rem;
  }
}

.pl__category--item {
  width: 100%;
  font-size: 2rem;
  overflow: hidden;
}

.pl__category--item:nth-of-type(even) {
  background-color: $light-gray;
}

.pl--type {
  float: left;
  padding: .5rem 0 .5rem 1rem;
}

.pl--price {
  float: right;
  padding: .5rem 1rem .5rem 0;
}

.pl--note {
  display: block;
  clear: both;
  font-size: 1.4rem;
  color: #888;
  padding-left: 1rem;
  padding-bottom: .3rem;
}
