//------------------------ section price list -----------------------

.section-price-list {
  min-height: 50rem;
}

.pl {
  margin-top: 3.5rem;
}

.pl__category--item {
  height: 3rem;
  width: 100%;
  overflow: hidden;
  font-size: 2rem;
}

.grow {
  position: relative;
  transition: height 0.5s;
}

.pl__category--item:nth-of-type(even) {
  background-color: $light-gray;
}

.grow:hover {
  height: 30rem;
}

.grow img {
  display: block;
  clear: both;
  height: 12.5rem;
  text-align: center;
}

.pl--type {
  float: left;
  padding: .5rem 0 .5rem 1rem;
}

.pl--price {
  float: right;
  padding: .5rem 1rem .5rem 0;
}

.pl--params {
  clear: both;
}

.pl--params {
  font-size: 80%;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  border-collapse: collapse;
}

.pl--params__row {
  border-bottom: 0.1rem solid $font-color-main;
  line-height: 3rem;
}

.pl--params__column {
  text-align: right;
  padding-right: 1rem;
  vertical-align: top;
}

.pl--params__column:first-child, .pl--params__row:first-child td:nth-of-type(2) {
  text-align: left;
  font-weight: 700;
}