
.ref-gallery__showcase {
  list-style: none;
  width: 100%;
}

.ref-gallery__list {
  display: block;
  float: left;
  width: 16.6%;
  height: auto;
  overflow: hidden;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}


.ref-gallery__photo--img:hover {
  opacity: 0.7;
  // transform: scale(1.03);
}