
.ref-gallery__showcase {
  list-style: none;
  width: 100%;
}

.ref-gallery__list {
  display: block;
  float: left;
  width: 16.6%;
  height: auto;
  overflow: hidden;
}

.ref-gallery__photo {
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0rem;

  a:hover {
    border-bottom: 0;
  }
}

.ref-gallery__photo--img {
  opacity: 1;
  width: 100% !important;
  height: auto !important;
}

.ref-gallery__photo--img:hover {
  opacity: 0.7;
  // transform: scale(1.03);
}