/*------------------------ section references ----------------------- */

.section-references {
  background-color: $light-gray;

  .ref__links {
    border: none;
  }

  figcaption {
    display: none;
    position: absolute;
    top: 0rem;
    left: 0;
    right: 0;
    background-color: $color-black;
    font-size: 2rem;
    font-weight: 100;
    padding: .5rem 0;
    text-align: center;

    color: $color-white;
    opacity: .7;
  }
}


.ref__logos {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 5.5rem;
}

.ref__logos--img {
  // display: inline-block;
  height: 5.5rem;
  // height: auto;
  // width: auto;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.ref__gallery-link {
  display: block;
  text-align: center;
  margin-top: 4rem;
  font-size: 3rem;
}
.ref__gallery-link:hover {
  border: none;
}

.ref__logos--img:hover {
  opacity: 1;
}


/* --- Ref Gallery --- */
.section-references .row:nth-child(3) {
  padding: 0;
}

.ref__showcase--list {
  list-style-type: none;
  width: 100%;
}

.ref__showcase--item {
  display: block;
  float: left;
  width: 33.3%;
}

.ref__showcase--photo {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.ref__showcase--photo:hover figcaption{
  display: block;
}

.ref__showcase--img {
  opacity: .7;
  width: 100%;
  // min-height: 33rem;
  // max-height: 33rem;
  transform: scale(1.15);
  transition: opacity .5s;
  transition: transform .5s;
}

.ref__showcase--img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.ref__showcase--img:hover figcaption {
  display: block;
}


