footer.footer
  .row
    .col.span-2-of-3
      ul.footer-nav__list
        li.footer-nav__item
          a.footer-nav__link.scroll-js(href="#header") Úvod
        li.footer-nav__item
          a.footer-nav__link(href="#") O nás
        li.footer-nav__item
          a.footer-nav__link(href="#") Služby
        li.footer-nav__item
          a.footer-nav__link(href="#") Reference
        li.footer-nav__item
          a.footer-nav__link(href="#") Ceník
        li.footer-nav__item
          a.footer-nav__link(href="#") Kontakty
    .col.span-1-of-3
      ul.footer-nav__social-list
        li.footer-nav__item
          a.footer-nav__link(href="#")
            i.ion-social-facebook
        li.footer-nav__item
          a.footer-nav__link(href="#")
            i.ion-social-instagram
  .row
    p.footer__copy
      | Copyright © 2017 by Aracolor. Created by
      a.footer__copy--link(href="#" target="_blank") Josef Nagy
      | . All rights reserved.