footer.footer
  .row
    .col.span-2-of-3
      ul.footer-nav__list
        li.footer-nav__item
          a.footer-nav__link.scroll-js(href="index.html#header") Úvod
        li.footer-nav__item
          a.footer-nav__link.scroll-js(href="index.html#features") O nás
        li.footer-nav__item
          a.footer-nav__link.scroll-js(href="index.html#sluzby") Služby
        li.footer-nav__item
          a.footer-nav__link.scroll-js(href="index.html#reference") Reference
        li.footer-nav__item
          a.footer-nav__link.scroll-js(href="index.html#cenik") Ceník
        li.footer-nav__item
          a.footer-nav__link.scroll-js(href="index.html#kontakty") Kontakty
    .col.span-1-of-3
      ul.footer-nav__social-list
        li.footer-nav__item
          a.footer-nav__link(href="https://www.facebook.com/radek.tlach.9" target="_blank")
            i.ion-social-facebook
        li.footer-nav__item
          a.footer-nav__link(href="#")
            i.ion-social-instagram
  .row
    p.footer__copy
      | Copyright © 2018 by Aracolor. Created by
      a.footer__copy--link(href="#" target="_blank") Josef Nagy
      | . All rights reserved.