nav.nav
  .row
    .logo
      a.logo__link(href="index.html")
        img.logo__img(src="resources/img/logo-bird-v4.svg" alt="aracolor")
        img.logo__text(src="resources/img/logo-text-v6.svg" alt="logo")
    ul.nav__list.js--nav__list
      li.nav__item
        a.nav__link.scroll-js(href="index.html#header") Úvod
      li.nav__item
        a.nav__link.scroll-js(href="index.html#sluzby") Služby
      li.nav__item
        a.nav__link.scroll-js(href="betonove-sterky.html#header") Dekorační stěrky
      li.nav__item
        a.nav__link.scroll-js(href="index.html#cenik") Ceník
      li.nav__item
        a.nav__link.scroll-js(href="index.html#reference") Reference
      li.nav__item
        a.nav__link.scroll-js(href="index.html#kontakty") Kontakty
    a.mobile-nav-icon.js--nav-icon
      i.ion-navicon-round